{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
	<h1>Profile</h1>
    <ul>
        <li>{{ app.user.username }}</li>
        <li>{{ app.user.email }}</li>
        <li>{{ app.user.birthdate|date('D d/m/Y') }}</li>
    </ul>

    <a class="btn btn-primary" href="{{ path('member_profile_edit') }}">Edit profile</a>
{% endblock %}
