.touit {
    min-width: 360px;
    display: grid; 
    grid-template-columns: 30% 70%;
    grid-template-areas: 
        "avatar title" 
        "avatar date" 
        "message message" 
        "options options" 
    ;

    color: $dark;
    background-color: lighten($primary, 50%);

    .avatar {
        grid-area: avatar;
        img {
            width: 100%;
            max-width: 150px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    .touit-title {
        grid-area: title;
    }

    .touit-date {
        grid-area: date;
    }

    .message {
        grid-area: message;
    } 
    
    .options {
        grid-area: options;
        background-color: $primary;
        a {
            color:$light;
            svg {
                height: 1.8rem;
            }
        }
    }
}

.member {
    .avatar {
        img {
            object-fit: cover;
            aspect-ratio: 1/1;
        }
    }
}

