<form method="post" action="{{ path('touit_delete', {'id': touit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ touit.id) }}">
    <button class="btn">Delete</button>
</form>
